[submodule "hermes-agent"]
	path = hermes-agent
	url = https://github.com/VladimirHulagov/hermes-agent.git
[submodule "paperclip"]
	path = paperclip
	url = https://github.com/VladimirHulagov/paperclip.git
[submodule "hermes-paperclip-adapter"]
	path = hermes-paperclip-adapter
	url = https://github.com/VladimirHulagov/hermes-paperclip-adapter.git
[submodule "superpowers"]
	path = superpowers
	url = https://github.com/VladimirHulagov/superpowers.git
[submodule "rag-mcp"]
	path = rag-mcp
	url = https://github.com/VladimirHulagov/rag-mcp.git
